In [2]:
import yfinance as yf
import pandas as pd

In [7]:
sp500 = yf.Ticker("^GSPC")
sp500 = sp500.history(period="5y", interval="1d")

sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2018-12-24 00:00:00-05:00,2400.560059,2410.340088,2351.100098,2351.100098,2613670000,0.0,0.0
2018-12-26 00:00:00-05:00,2363.120117,2467.760010,2346.580078,2467.699951,4249740000,0.0,0.0
2018-12-27 00:00:00-05:00,2442.500000,2489.100098,2397.939941,2488.830078,4139010000,0.0,0.0
2018-12-28 00:00:00-05:00,2498.770020,2520.270020,2472.889893,2485.739990,3728440000,0.0,0.0
2018-12-31 00:00:00-05:00,2498.939941,2509.239990,2482.820068,2506.850098,3461920000,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-18 00:00:00-05:00,4725.580078,4749.520020,4725.580078,4740.560059,4060340000,0.0,0.0
2023-12-19 00:00:00-05:00,4743.720215,4768.689941,4743.720215,4768.370117,4026970000,0.0,0.0
2023-12-20 00:00:00-05:00,4764.729980,4778.009766,4697.819824,4698.350098,4201320000,0.0,0.0
2023-12-21 00:00:00-05:00,4724.290039,4748.709961,4708.350098,4746.750000,3431180000,0.0,0.0
2023-12-22 00:00:00-05:00,4753.919922,4772.939941,4736.770020,4754.629883,3046770000,0.0,0.0

Data Quality Check

In [8]:
sp500.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1259 entries, 2018-12-24 00:00:00-05:00 to 2023-12-22 00:00:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1259 non-null   float64
 1   High          1259 non-null   float64
 2   Low           1259 non-null   float64
 3   Close         1259 non-null   float64
 4   Volume        1259 non-null   int64
 5   Dividends     1259 non-null   float64
 6   Stock Splits  1259 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.7 KB

In [9]:
sp500.isna().sum()

Open            0
High            0
Low             0
Close           0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

In [10]:
sp500.index

DatetimeIndex(['2018-12-24 00:00:00-05:00', '2018-12-26 00:00:00-05:00',
               '2018-12-27 00:00:00-05:00', '2018-12-28 00:00:00-05:00',
               '2018-12-31 00:00:00-05:00', '2019-01-02 00:00:00-05:00',
               '2019-01-03 00:00:00-05:00', '2019-01-04 00:00:00-05:00',
               '2019-01-07 00:00:00-05:00', '2019-01-08 00:00:00-05:00',
               ...
               '2023-12-11 00:00:00-05:00', '2023-12-12 00:00:00-05:00',
               '2023-12-13 00:00:00-05:00', '2023-12-14 00:00:00-05:00',
               '2023-12-15 00:00:00-05:00', '2023-12-18 00:00:00-05:00',
               '2023-12-19 00:00:00-05:00', '2023-12-20 00:00:00-05:00',
               '2023-12-21 00:00:00-05:00', '2023-12-22 00:00:00-05:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=1259, freq=None)